/* 
    Document   : prueba1
    Created on : 04-may-2009, 17:29:29
    Author     : jmarranz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

div
{ 
    color:blue;
}

