<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.0.xsd">


<bean class="itsnatspring.ItsNatServletContextBean">
    <property name="maxOpenDocumentsBySession" value="10" />
    <property name="sessionReplicationCapable" value="false" />
    <property name="sessionSerializeCompressed" value="false" />
    <property name="sessionExplicitSerialize" value="false" />
</bean>

<bean id="defaultLocale" class="itsnatspring.LocaleBean" >
    <property name="language" value="en" />
    <property name="country" value="US" />
</bean>

<bean id="defaultDateFormat" class="itsnatspring.DateFormatBean"  >
    <property name="style" value="2" /> <!-- DateFormat.DEFAULT -->
    <property name="locale">
        <bean factory-bean="defaultLocale" factory-method="getLocale"/>
    </property>
</bean>

<bean id="defaultNumberFormat" class="itsnatspring.NumberFormatBean"  >
    <property name="locale">
        <bean factory-bean="defaultLocale" factory-method="getLocale"/>
    </property>
</bean>

<bean class="itsnatspring.ItsNatServletConfigBean">
    <property name="debugMode" value="true" />
    <property name="clientErrorMode" value="4" />  <!-- ClientErrorMode.SHOW_SERVER_AND_CLIENT_ERRORS -->
    <property name="defaultEncoding" value="UTF-8" />
    <property name="onLoadCacheStaticNodes">
        <value>
            text/html=true
            text/xml=false
        </value>
    </property>
    <property name="defaultDateFormat">
        <bean factory-bean="defaultDateFormat" factory-method="getDateFormat"/>
    </property>
    <property name="defaultNumberFormat">
        <bean factory-bean="defaultNumberFormat" factory-method="getNumberFormat"/>
    </property>
</bean>

<bean id="coreExamplePath" class="itsnatspring.WebPathBean">
    <property name="relativePath" value="/WEB-INF/pages/manual/core_example.xhtml" />
</bean>

<bean id="coreExampleDoc" class="itsnatex.CoreExampleDocument" scope="prototype" >
    <!-- Globals Here -->
</bean>

<bean id="coreExampleDocTemplate" class="itsnatspring.ItsNatDocumentTemplateBean">
    <property name="name" value="manual.core.example" />
    <property name="mime" value="text/html" />
    <property name="source">
        <bean factory-bean="coreExamplePath" factory-method="getAbsolutePath"/>
    </property>
    <property name="itsNatServletRequestListener" >
        <bean class="itsnatspring.ItsNatServletRequestListenerBean" >
            <property name="documentBeanName" value="coreExampleDoc" />
        </bean>
    </property>
</bean>


<bean id="coreXMLDocExamplePath" class="itsnatspring.WebPathBean">
    <property name="relativePath" value="/WEB-INF/pages/manual/xml_example.xml" />
</bean>

<bean id="coreXMLExampleDoc" class="itsnatex.CoreXMLExampleDocument" scope="prototype" >
    <!-- Globals Here -->
</bean>

<bean id="coreXMLExampleDocTemplate" class="itsnatspring.ItsNatDocumentTemplateBean">
    <property name="name" value="manual.core.xmlExample" />
    <property name="mime" value="text/xml" />
    <property name="source">
        <bean factory-bean="coreXMLDocExamplePath" factory-method="getAbsolutePath"/>
    </property>
    <property name="itsNatServletRequestListener" >
        <bean class="itsnatspring.ItsNatServletRequestListenerBean" >
            <property name="documentBeanName" value="coreXMLExampleDoc" />
        </bean>
    </property>
</bean>

<bean id="coreXMLFragExamplePath" class="itsnatspring.WebPathBean">
    <property name="relativePath" value="/WEB-INF/pages/manual/xml_fragment_example.xml" />
</bean>

<bean id="coreXMLExampleFragTemplate" class="itsnatspring.ItsNatDocFragmentTemplateBean">
    <property name="name" value="manual.core.xmlFragExample" />
    <property name="mime" value="text/xml" />
    <property name="source">
        <bean factory-bean="coreXMLFragExamplePath" factory-method="getAbsolutePath"/>
    </property>
</bean>

</beans>
