<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>inexpservlet</servlet-name>
        <servlet-class>inexp.inexpservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inexpservlet</servlet-name>
        <url-pattern>/inexpservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItsNatGroovyServlet</servlet-name>
        <servlet-class>inexp.groovyex.ItsNatGroovyServlet</servlet-class>
        <init-param>
            <param-name>scriptRootPath</param-name>
            <param-value>groovyex/code</param-value>
        </init-param>
        <init-param>
            <param-name>initScript</param-name>
            <param-value>groovy_servlet_init.groovy</param-value>
        </init-param>              
    </servlet>
    <servlet-mapping>
        <servlet-name>ItsNatGroovyServlet</servlet-name>
        <url-pattern>/groovyex</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Groovy</servlet-name>
        <!--<servlet-class>groovy.servlet.GroovyServlet</servlet-class>-->
        <servlet-class>inexp.groovyex.GroovyServletInherited</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Groovy</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inexpservlet</welcome-file>
    </welcome-file-list>
</web-app>
