<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:itsnat="http://itsnat.org/itsnat">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Detail</title>
</head>
<body>
    <h2>Detail</h2>
    <p>This "fundamental" state is processed by crawlers of search engines (Google, Yahoo, Bing...).
       The link below is used to load some new text, in this case the new
       state is not fundamental (is secondary) and the new inserted text cannot be
       reached by crawlers of search engines.
    </p>
    <a href="javascript:;" id="detailMoreId" itsnat:locById="true" onclick="setState('detail',this.getAttribute('action')); return false;" itsnat:nocache="true" >Hide|More Detail</a><br />
</body>
</html>
